{% extends "base.html" %}
{% block content %}
 <div class="jumbotron">
 	<h1>Welcome to SchedulePal</h1>
 	<p>Scheduling made simple.</p>
 	<p><a class="btn btn-success btn-lg"
 	href="{{servlet-context}}/signup">Sign Up</a> 
	or
 	<a class="btn btn-primary btn-lg"
 	href="{{servlet-context}}/login">Login</a></p>
 </div>
{% endblock %}
