{% extends "base.html" %}
{% block content %}
<h1>Sign Up <span class="small">for SchedulePal.</span></h1>
<div class="row">
	<div class="col-md-6">
		<form role="form" method="post">
		<div class="form-group">
			<label for="username">Username</label>
				<ul class="errors">
					{% for e in errors.username %}		<!-- #1 -->
						<li>{{e}}</li>
					{% endfor %}
				</ul>
			<input type="input" class="form-control" 
					   name="username" placeholder="username"
						value="{{username}}">
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<ul class="errors">
				{% for e in errors.email %}
				<li>{{e}}</li>
				{% endfor %}
			</ul>
			<input 	type="email" class="form-control"
					name="email" placeholder="you@somedomain.com"
					value="{{email}}">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<ul class="errors">
				{% for e in errors.password %}
				<li>{{e}}</li>
				{% endfor %}
			<input type="password" class="form-control"
			name="password" placeholder="password">
		</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
